@import "tailwindcss";

@theme {
    --color-app-blue: #0364A4;
    --color-app-gray: #F6F6F6;
}

.landscape-bg {
    background-image: url('/public/homepage-header.jpg');
    background-size: cover;
    background-position: center;
}

.font-DM-Sans {
    font-family: 'DM Sans', sans-serif;
}


